.post-content img {
    border-radius: unset;
    margin: unset;
    width: 100vw;
    max-width: 1920px;
    margin-left: min(-14px, max(-50vw, -960px) + var(--main-width) / 2);
}

img {
	display: block;
	max-width: unset;
}